.app-header {
  width: 55%;
  position: relative;
}

.app-header-info {
  position: absolute;
}
.app-header-h1 {
  letter-spacing: 0.04em;
  text-transform: capitalize;
  margin: 15% 0 0 20%;
  font-size: 2rem;
}

.button {
  margin: 5% 0 0 20%;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 20px;
  background: var(--color-golden);
}
