:root {
  --color-golden: #dcca87;
  --color-black: #0c0c0c;
  --color-white: #ffffff;
  --color-gray: #545454;
  --color-grey: #aaaaaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
}
